.section {
    composes: section from '../../components/layout/index.module.css';
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    blockquote {
        margin: 0;
        padding: 0;
    }

    > * {
        width: 32%;
        margin-bottom: 2em;
    }
}

.more {
    composes: more from '../../components/layout/index.module.css';
}
