.section {
    composes: section from '../../components/layout/index.module.css';
}

.videos {
    composes: tiles from '../../components/layout/index.module.css';

    > * {
        width: 100%;
        margin-bottom: 2em;
    }
}

.more {
    composes: more from '../../components/layout/index.module.css';
}
