.intro {
    composes: bottomBorder from '../components/layout/index.module.css';

    padding: 1em 0;

    font-size: 1.2em;

    strong {
        text-decoration: underline;
    }
}

.section {
    composes: section from '../components/layout/index.module.css';
}
