@value mqMinMd from '../css/mq.module.css';

.intro {
    composes: bottomBorder from '../components/layout/index.module.css';

    padding: 1em 0;
    margin-bottom: 3em;

    font-size: 1.2em;

    strong {
        text-decoration: underline;
    }
}

.section {
    composes: bottomBorder from '../components/layout/index.module.css';
}

.sonoj {
    composes: section;
    padding-bottom: 2em;
}

.details {
    @media mqMinMd {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

.flatList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 0;

        &:not(:last-child) {
            &:after {
                content: ',';
            }
            margin-right: 0.5em;

        }
    }
}

.strike {
    text-decoration: line-through;
}
