.section {
    composes: section from '../../components/layout/index.module.css';
}

.tweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    blockquote {
        margin: 0;
        padding: 0;
    }

    > * {
        width: 32%;
    }
}

.more {
    display: block;
    margin: 2em auto;
}
