@value mqMinMd, mqMinLg from '../../css/mq.module.css';

.section {
    composes: bottomBorder from '../../components/layout/index.module.css';
}

.tweets {
    composes: tiles from '../../components/layout/index.module.css';

    blockquote {
        margin: 0;
        padding: 0;
    }
}

.more {
    composes: more from '../../components/layout/index.module.css';
}
